<div class="row" style="padding: 2rem">
    <div class="col-xs-12 form-group">
      <form #f="ngForm" (ngSubmit)="onLogin()">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <div class="form-group">
              <label for="email">Email/User ID</label>
              <input type="email" name="email" id="email" [(ngModel)]="user.email" class="form-control" required>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12  col-md-4">
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" [(ngModel)]="user.password" class="form-control"
                required minlength="6">
            </div>
          </div>
        </div>

        <button class="btn btn-primary" type="submit">Signin</button>

      </form>
    </div>
  </div>
