<div class="row" *ngIf="(recipe$ | async)">
  <div class="col-xs-12">
    <form (ngSubmit)="onSave()" #f="ngForm">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary" style="margin-right: 1rem">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input name="name" type="text" class="form-control" [ngModel]="(recipe$ | async).name" (ngModelChange)="updateSelectedRecipe('name', $event)"
              required>
            <span *ngIf="showError('name')" class="help-block">Invalid data</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input type="text" class="form-control" [ngModel]="(recipe$ | async).imagePath" name="imagePath" (ngModelChange)="updateSelectedRecipe('imagePath', $event)"
              required>
            <span *ngIf="showError('imagePath')" class="help-block">Invalid data</span>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="(recipe$ | async).imagePath">
        <div class="col-xs-12">
          <label for="imagePreview">Image Preview</label>
          <img [src]="(recipe$ | async).imagePath" alt="preview" class="img-responsive" name="imagePreview">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="Description">Description</label>
            <textarea name="description" id="description" rows="5" class="form-control" [ngModel]="(recipe$ | async).description"
              (ngModelChange)="updateSelectedRecipe('description', $event)" required></textarea>
            <span *ngIf="showError('description')" class="help-block">Invalid data</span>
          </div>
        </div>
      </div>
      <h4 for="ingredientsList">Ingredients List</h4>
      <div class="row">
        <div class="col-xs-12" ngformGroup>
          <div class="row" *ngFor="let ingredient of (recipe$ | async).ingredients; let first=first; let index=index; trackBy:trackByFn">
            <div style="margin-bottom: 2rem">
              <div class="col-xs-8">
                <input type="text" id="name" [name]="'ingredientname'+index" class="form-control" [ngModel]="ingredient.name"
                  (ngModelChange)="updateSelectedRecipe(['ingredients', index, 'name'], $event)" required>
                <span *ngIf="showError('ingredientname'+index)" class="help-block">Invalid data</span>

              </div>
              <div class="col-xs-2">
                <input type="number" id="quantity" [name]="'ingredientquantity'+index" class="form-control" [ngModel]="ingredient.quantity"
                  (ngModelChange)="updateSelectedRecipe(['ingredients', index, 'quantity'], $event)" required>
                <span *ngIf="showError('ingredientquantity'+index)" class="help-block">Invalid data</span>

              </div>
              <div class="col-xs-2">
                <button class="btn btn-danger" type="button" (click)="deleteIngredient(index)">X</button>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 2rem">
            <div class="col-xs-12">
              <button class="btn btn-primary" type="button" (click)="addIngredient()">Add Ingredient</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
