<div class="container">
  <div class="row">
    <h2> Welcome to Recipe Book</h2>
    <div class="col-xs-12">
      <div class="row">
        <p> Please select a section</p>
      </div>
      <div class="row">
        <button class="btn btn-primary" [routerLink]="['/recipes']" routerLinkActive="router-link-active" style="margin-right: 2rem">
          Recipes
        </button>
        <button class="btn btn-primary" [routerLink]="['/shopping-list']" routerLinkActive="router-link-active">Shopping
          list</button>
      </div>
    </div>
  </div>
</div>
