<ng-container *ngIf="(recipe$ | async); let recipeView">
  <div class="row">
    <div class="col-xs-12">
      <img [src]="recipeView.imagePath" [alt]="recipeView.name" class="img-responsive" style="max-width: 300px">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h1>{{recipeView.name}}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group" appDropdown>
        <button class="btn btn-primary dropdown-toggle">
          Manage Receipe
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a (click)="addToShoppingList()" style="cursor: pointer">To shopping list</a></li>
          <li><a (click)="goToEditRecipe()" style="cursor: pointer">Edit Recipe</a></li>
          <li><a style="cursor: pointer" (click)="deleteRecipe()">Delete Recipe</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      {{recipeView.description}}
    </div>
  </div>

  <div class="row" *ngIf="recipeView.ingredients">
    <div class="col-xs-12">
      <h4>Ingredients</h4>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of recipeView.ingredients">
          {{ item.name }} - {{item.quantity}}
        </li>
      </ul>
    </div>
  </div>

  <button class="btn btn-default" routerLink="/recipes">Close</button>
</ng-container>
