<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="form" (ngSubmit)="addIngredient()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" name="name" class="form-control" formControlName="name">
        </div>
        <div class="col-sm-2 form-group">
          <label for="quantity">Quantity</label>
          <input type="number" name="Quantity" class="form-control" formControlName="quantity">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 form-group">
          <button type="submit"
            class="btn btn-success"
            style="margin-right: 1rem"
            [disabled]="form.invalid"> {{ isEdit ? 'Edit' : 'Add'}} </button>
          <button type="button"
            class="btn btn-danger"
            style="margin-right: 1rem"
            (click)="deleteIngredient()"
            [disabled]="form.invalid">Delete</button>
          <button type="button"
            class="btn btn-primary"
            (click)="clearForm()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
