<div class="row" style="padding-left: 5rem">
  <div class="col-xs-10">
    <app-shopping-list-edit></app-shopping-list-edit>
    <hr>
    <ul class="list-group">
      <a class="list-group-item"
        style="cursor: pointer;"
        *ngFor="let item of (ingredientList | async)"
        (click)="updateSelectedIngredient(item)">
        {{item.name}} ({{item.quantity}})
      </a>
    </ul>
  </div>
</div>
