<div class="row" style="padding-left: 5rem">
  <div class="col-xs-12">
    <div class="col-md-4">
      <app-recipe-list></app-recipe-list>
    </div>
    <div class="col-md-7">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
