<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="goToNewRecipe()">New Recipe</button>
  </div>
</div>
<div class="row" style="margin-top: 2rem">
  <div class="col-xs-12" *ngFor="let recipe of recipeStream$ | async">
    <app-recipe-item [recipe]="recipe"></app-recipe-item>
  </div>
</div>
